import express from 'express';
import session from 'express-session';
import graphqlHTTP from 'express-graphql';
import schema from'./schema';

const app = express();

app.use(
  session({
    secret: 'secret',
    cookie: {
      maxAge: 60000
    }
  }));

app.use('/graphql', graphqlHTTP( (req) => ({
  schema,
  graphiql: true,
  context: { session: req.session }
})));

app.listen(80);

// Somewhere in Schema
fields: ({
  sensitiveString: {
    type: GraphQLString,
    description: 'A User Sensitive String',
    resolve: (source, args, context) => {
      if( context.session.isLoggedIn )
        return source.sensitiveString;
      else
        return null;
    }
  }
})
