const PersonType = new GraphQLObjectType({
  name: 'Person',
  description: 'This is a Person',

  fields: () => ({
    name: {
      type: GraphQLString,
      description: 'firstName + lastName',
      resolve: (person, args, context) =>
        person.firstName + person.lastName
    },
    profilePic: {
      type: GraphQLString,
      description: 'CDN URL of pic',
      resolve: (person, args, context) =>
        fetch(`/api/person/${person.id}/pic`)
    }
  })
});
